{% block navbar %}

  {% url 'order' as restaurant_order_url %}
  {% url 'meal' as restaurant_meal_url %}
  {% url 'report' as restaurant_report_url %}
  {% url 'account' as restaurant_account_url %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
        <ul class="navbar-nav ml">
    
                <li class="nav-item ">
                    <h1>{{restaurant.name}}</h1>
                      </li>

        </ul>
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
    
          <li class="nav-item ">
                <a href="{% url 'meal' %}"
                class="list-group-item {% if request.path == restaurant_meal_url %} active {% endif %} ">Meals</a>
          </li>
          <li class="nav-item ">
                <a href="{% url 'order' %}"
                class="list-group-item {% if request.path == restaurant_order_url %} active {% endif %} ">
                Orders
                <span class="badge"></span>
            </a>
          </li>
          <li class="nav-item ">
              
      <a href="{% url 'report' %}"
      class="list-group-item {% if request.path == restaurant_report_url %} active {% endif %} ">Reports</a>
              </li>
              <li class="nav-item ">
                  
      <a href="{% url 'account' %}"
      class="list-group-item {% if request.path == restaurant_account_url %} active {% endif %} ">Account</a>
                </li>
                <li class="nav-item ">
                    <a  href="{% url 'logout' %}?next={{ request.path }}" class="list-group-item">
                        Logout
                      </a>

                    </li>
          <div class="topbar-divider d-none d-sm-block"></div>
    
          <!-- Nav Item - User Information -->
          <li class="nav-item ">
        
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.username}}</span>
              <img class="img-profile rounded-circle" src="{{ restaurant.logo.url }}" width="70" height="50">
            
          </li>
    
        </ul>
</nav>
      <!-- End of Topbar -->  
    {% endblock navbar %}
