{% extends "portal/base.html" %}
{% block content %}
     <!-- Content Wrapper -->
     <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
         {% include "portal/navbar.html" %}
  
          <!-- Begin Page Content -->
          <div class="container-fluid">
  
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Report</h1>
           </div>
            <div class="row">
                <div class="col-lg-8">
        
                    <!-- Revenue by Week -->
                    <div class="panel">
                        <div class="panel-heading bg-blue">
                          <h4 class="panel-title text-center ">
                              Revenue by Week
                          </h4>
                        </div>
                        <div class="panel-body">
                            <canvas id="revenueChart" height="110"></canvas>
                            <script>
                                var ctx = document.getElementById("revenueChart").getContext("2d");
                                var data = {
                                    labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
                                    datasets: [
                                        {
                                            label: "Revenue by Week",
                                            backgroundColor: "rgba(54,162,235,0.9)",
                                            hoverBackgroundColor: "rgba(54,162,235,1)",
                                            data: {{ revenue }}
                                        }
                                    ]
                                };
        
                                new Chart(ctx, {
                                  type: 'bar',
                                  data: data
                                });
        
                            </script>
                        </div>
                    </div>
        
                    <!-- Orders by Week -->
                    <div class="panel">
                        <div class="panel-heading bg-blue">
                          <h4 class="panel-title text-center ">
                              Order by Week
                          </h4>
                        </div>
                        <div class="panel-body">
                            <canvas id="orderChart" height="110"></canvas>
                            <script>
                                var ctx = document.getElementById("orderChart").getContext("2d");
                                var data = {
                                    labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
                                    datasets: [
                                        {
                                            label: "Revenue by Week",
                                            backgroundColor: "rgba(255,99,132,0.9)",
                                            hoverBackgroundColor: "rgba(255,99,132,1)",
                                            data: {{ orders }}
                                        }
                                    ]
                                };
        
                                new Chart(ctx, {
                                  type: 'bar',
                                  data: data
                                });
        
                            </script>
                        </div>
                    </div>
        
        
                </div>
                <div class="col-lg-4">
        
                  <!-- TOP 3 Meals -->
                  <div class="panel">
                      <div class="panel-heading bg-blue">
                        <h4 class="panel-title text-center ">
                            Top 3 Meals
                        </h4>
                      </div>
                      <div class="panel-body">
                          <canvas id="mealChart" height="242"></canvas>
                          <script>
                              var ctx = document.getElementById("mealChart").getContext("2d");
                              var data = {
                                  labels: {{ meal.labels|safe }},
                                  datasets: [
                                      {
                                          backgroundColor: [
                                            "#36A2EB", "#FFCE56", "#FF6384"
                                          ],
                                          data: {{ meal.data }}
                                      }
                                  ]
                              };
        
                              new Chart(ctx, {
                                type: 'pie',
                                data: data
                              });
        
                          </script>
                      </div>
                  </div>
        
                  <!-- TOP 3 Driver ALL TIME -->
                  <div class="panel">
                      <div class="panel-heading bg-blue">
                        <h4 class="panel-title text-center">
                            Top 3 Drivers
                        </h4>
                      </div>
                      <div class="panel-body">
                          <canvas id="driverChart" height="242"></canvas>
                          <script>
                              var ctx = document.getElementById("driverChart").getContext("2d");
                              var data = {
                                  labels: {{ driver.labels|safe }},
                                  datasets: [
                                      {
                                          backgroundColor: [
                                            "#36A2EB", "#FFCE56", "#FF6384"
                                          ],
                                          data: {{ driver.data }}
                                      }
                                  ]
                              };
        
                              new Chart(ctx, {
                                type: 'pie',
                                data: data
                              });
        
                          </script>
                      </div>
                  </div>
                </div>
            </div>
            
  
          </div>
          <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->
  
       {% include 'portal/footer.html' %}
      </div>
{% endblock content %}